<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="connectionDB" value="Server=localhost;Port=3306;UID=root;PWD=;Database=shuttle_run" />

		<add key="SERVER_API" value="http://192.168.21.200:3600"/>
		
		<add key="SERVER_API_LOCAL" value="http://127.0.0.1:8010"/>

		<add key="PathRunActivity_Local" value="C:\Users\Ryan\source\repos\Track_ShuttleRun NRP\Track_ShuttleRun\bin\Debug\Track_ShuttleRun.exe" />
		
		<add key="PathRunActivity" value="C:\Users\Ryan\source\repos\Track_ShuttleRun NRP\Track_ShuttleRun\bin\Debug\Track_ShuttleRun.exe" />

		<add key="PathConfigRfidReader" value="C:\Users\Shuttle Run Station\Documents\New_Shuttle\1. Main Project\Config_Reader\UHFDemo_v4.2_EN_SRC\Outputs\Release\UHFDemo.exe" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
